In [19]:
# Dependencies
import numpy as np
import pandas as pd

# Python SQL toolkit and Object Relational Mapper
import sqlalchemy
from sqlalchemy.ext.automap import automap_base
from sqlalchemy.orm import Session
from sqlalchemy import create_engine, func

In [2]:
engine = create_engine("sqlite:///hawaii.sqlite")

# reflect an existing database into a new model
Base = automap_base()
# reflect the tables
Base.prepare(engine, reflect=True)

# Save references to each table
Measurement = Base.classes.measurement
Station = Base.classes.station

In [3]:
# Create our session (link) from Python to the DB
session = Session(engine)

## D1: Determine the Summary Statistics for June

In [29]:
# 1. Import the sqlalchemy extract function.
from sqlalchemy import extract

# 2. Write a query that filters the Measurement table to retrieve the temperatures for the month of June. 
june_tobs = session.query(Measurement.date, Measurement.tobs).filter(extract('month', Measurement.date)==7).all()

In [30]:
#  3. Convert the June temperatures to a list.
jtobs_list = list(june_tobs)

In [31]:
# 4. Create a DataFrame from the list of temperatures for the month of June. 
jtobs_df = pd.DataFrame(jtobs_list, columns=['date', 'temperature'])

In [32]:
# 5. Calculate and print out the summary statistics for the June temperature DataFrame.
jtobs_df.describe()

       temperature
count  1711.000000
mean     76.082408
std       3.356532
min      61.000000
25%      74.000000
50%      76.000000
75%      78.000000
max      87.000000

## D2: Determine the Summary Statistics for December

In [34]:
# 6. Write a query that filters the Measurement table to retrieve the temperatures for the month of December.
dec_tobs = session.query(Measurement.date, Measurement.tobs).filter(extract('month', Measurement.date)==12).all()

In [39]:
# 7. Convert the December temperatures to a list.
dtobs_list = list(dec_tobs)

In [36]:
# 8. Create a DataFrame from the list of temperatures for the month of December. 
jtobs_df = pd.DataFrame(jtobs_list, columns=['date', 'temperature'])

In [37]:
# 9. Calculate and print out the summary statistics for the Decemeber temperature DataFrame.
jtobs_df.describe()

       temperature
count  1711.000000
mean     76.082408
std       3.356532
min      61.000000
25%      74.000000
50%      76.000000
75%      78.000000
max      87.000000